/*********************** 
*** RESET TO DEFAULT ***
***********************/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

/******************* 
*** PAGE DEFAULT ***
*******************/

body {
    font-family: 'Muli', sans-serif;
    background: #F5F5F5;
    font-weight: 200;
}

.clearfix,
section::after,
header::after,
footer::after {
    content: '';
    display: block;
    clear: both;
}

p, h1, h2, h3, h4, h5, h6, a, li, legend, label, small, figcaption {
    line-height: 1.5em;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/*************
*** HEADER ***
*************/

header {
    min-height: 48px;
    background: #272838;
    box-shadow: 0 15px 40px -7px rgba(0,0,0,.25);
}

/* NAVIGATION TOGGLE */
.nav-toggle {
    position: absolute;
    right: 0;
    height: 48px;
    width: 48px;
    cursor: pointer;
    /* background: #FFFFFF; */
}

.line {
    position: absolute;
    height: .5px;
    width: 17px;
    background: rgba(255,255,255,.5);
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    transition: all 350ms ease-in-out;
}

.line::before,
.line::after {
    position: absolute;
    content: '';
    height: .5px;
    width: 50%;
    background: rgba(255,255,255,.5);
    transition: all 350ms ease-in-out;
}

.line::before {
    top: -5px;
    left: 0;
}

.line::after {
    top: 5px;
    right: 0;
}

.nav-toggle:hover .line, 
.nav-toggle:hover .line::before,
.nav-toggle:hover .line::after {
    background: rgba(255,255,255,1);
}

/* NAVIGATION TOGGLE - ACTIVE */

.nav-toggle.active .line {
    transform: rotate(-225deg) translate(9px, 6px);
    left: 50%;
    background: rgba(255,255,255,1);
}

.nav-toggle.active .line::before {
    transform: rotate(90deg) translate(0px, -4.5px);
    background: rgba(255,255,255,1);
}

.nav-toggle.active .line::after {
    transform: rotate(90deg) translate(0px, 4.5px);
    background: rgba(255,255,255,1);
}

/* NAVBAR */
nav.menu {
    position: relative;
    top: 48px;
}

.menu-list {
    height: 0;
    overflow: hidden;
}

.menu-list-item {
    padding: 1em;
    text-align: center;
}

.nav-link {
    color: #F5F5F5;
} 

/* NAVBAR VISIBLE */

.menu-list-visible {
    height: 100vh;
    z-index: 100;
}






/******************
*** BREAKPOINTS ***
******************/

@media (min-width: 320px) {
/* XS SCREEN */
}



@media (min-width: 768px) {
/* SM SCREEN */
}



@media (min-width: 960px) {
    /* MD SCREEN */
    header {
        position: fixed;
        width: 100%;
        z-index: 100;
        /* background: #272838;
        box-shadow: 0 15px 40px -7px rgba(0,0,0,.25); */
    }

    nav.menu {
        position: static;
    }

    .menu-list {
        float: right;
        padding-right: 50px;
    }

    .menu-list-item {
        display: inline-block;
        /* padding: 1em; */
    }

    .nav-link {
        color: #F5F5F5;
    } 
}


@media (min-width: 1920px) {
/* LG SCREEN */
}

