/*********************** 
*** RESET TO DEFAULT ***
***********************/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

/******************* 
*** PAGE DEFAULT ***
*******************/

html {
    min-width: 320px;
}

body {
    font-family: 'Muli', sans-serif;
    background: #F5F5F5;
    font-weight: 200;
}

.clearfix,
section::after,
header::after,
footer::after {
    content: '';
    display: block;
    clear: both;
}

p, h1, h2, h3, h4, h5, h6, a, li, legend, label, small, figcaption {
    line-height: 1.5em;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

/*************
*** HEADER ***
*************/

header {
    min-height: 48px;
    background: #272838;
    box-shadow: 0 15px 40px -7px rgba(0,0,0,.25);
}

/* NAVIGATION TOGGLE */
.nav-toggle {
    position: absolute;
    right: 0;
    height: 48px;
    width: 48px;
    cursor: pointer;
}

.line {
    position: absolute;
    height: .5px;
    width: 17px;
    background: rgba(255,255,255,.5);
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    transition: all 350ms ease-in-out;
}

.line::before,
.line::after {
    position: absolute;
    content: '';
    height: .5px;
    width: 50%;
    background: rgba(255,255,255,.5);
    transition: all 350ms ease-in-out;
}

.line::before {
    top: -5px;
    left: 0;
}

.line::after {
    top: 5px;
    right: 0;
}

/* NAVIGATION TOGGLE - HOVER */

.nav-toggle:hover .line, 
.nav-toggle:hover .line::before,
.nav-toggle:hover .line::after {
    background: rgba(255,255,255,1);
}

/* NAVIGATION TOGGLE - ACTIVE */

.nav-toggle.active .line {
    transform: rotate(-225deg) translate(9px, 6px);
    left: 50%;
    background: rgba(255,255,255,1);
}

.nav-toggle.active .line::before {
    transform: rotate(90deg) translate(0px, -4.5px);
    background: rgba(255,255,255,1);
}

.nav-toggle.active .line::after {
    transform: rotate(90deg) translate(0px, 4.5px);
    background: rgba(255,255,255,1);
}

/* MOBILE NAVBAR - NOT VISIBLE */
nav.menu {
    position: relative;
    top: 48px;
}

.menu-list {
    height: 0;
    overflow: hidden;
}

.menu-list-item {
    padding: 1.5em;
    text-align: center;
    opacity: 0;
    transform: translateX(200%);
    transition: all ease-in-out 500ms;
}

.nav-link {
    color: #F5F5F5;
}

/* NAVBAR VISIBLE */

.menu-list-visible {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 100;
    background-color: #272838;
}

/* MENU LIST ITEM ANIMATION */
.slide-in {
    opacity: 1;
    transform: translateX(0px);
}

/************
*** TITLE ***
************/

.title {
    background: linear-gradient(rgba(52,58,64,1),rgba(52,58,64,0.6)), url("https://source.unsplash.com/collection/3320800/") no-repeat center center / cover;
    height: 100vh;
    color: #F5F5F5;
}

.title-container {
    width: 100vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}

h1.main-title {
    font-weight: 200;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 1.75px;
    text-align: center;
}

h1.main-title span {
    font-weight: 800;
}

/* TYPEWRITER EFFECT */

h2.sub-title {
    font-weight: 200;
    font-size: 1.25em;
}

.rotator {
    padding-top: 2rem;
}

.rotator:before {
    position: relative;
    content: '';
    left: -15px;
    top: 12px;
    display: inline-block;
    height: 45px;
    width: 3px;
    background: red;
    z-index: 9999;
}

/* Cursor */

.rotator > .txt {
    border-right: .1rem solid #777;
    padding-right: .3rem;
    letter-spacing: 1.5px;
}

/**************
*** SUMMARY ***
**************/

/* SUMMARY BOX */
.summary {
    position: relative;
    background: #135A6B;
    padding: 4em;
    outline: 2px solid #00B9AE;
    outline-offset: -2.5em;
    margin: 0 auto;
    box-shadow: 0 25px 45px -20px rgba(0,0,0,0.25);
    max-width: 768px;
    color: #F5F5F5;
}

/* SUMMARY TITLE */
h3.summary-title {
    position: absolute;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.1em;
    top: 1.5em;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 .35em;
    background: #135A6B;
}

.summary-main p {
    padding-bottom: 1em;
}

/************
*** INTRO ***
************/

section.intro {
    min-height: 100vh;
}

.intro-main {
    padding: 6%;
}

.intro-main p {
    padding-bottom: 1em; 
}

/****************
*** PORTFOLIO ***
****************/

section.portfolio {
    height: 100vh;
    text-align: center;
}

.project-item {
    width: 100%;
    text-align: center;
    position: relative;
}

.project-image {
    display: block;
    max-width: 100%;
    height: auto;
}

.project-desc {
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
    bottom: .75em;
    background: rgba(0, 0, 0, 0.4);
    padding: .5em 0;
  }
  
  .project-desc p {
    font-size: initial;
    text-transform: uppercase;
    font-weight: 800;
    margin: .25em;
  }
  
  .project-status {
    display: block;
    text-transform: lowercase;
    font-style: italic;
    font-weight: 200;
  }

/******************
*** BREAKPOINTS ***
******************/

@media (min-width: 320px) {
/* XS SCREEN */
}

@media (min-width: 768px) {
    /* SM SCREEN */

    /* TITLE */
    .title-container {
        max-width: 310px;
        text-align: left;
    }

    h2.sub-title {
        font-size: 1.5em;
    }

    /* INTRO SECTION */
    section.intro {
        background: linear-gradient(rgba(245,245,245,1),rgba(204,204,204,0.6)), url("https://source.unsplash.com/collection/3320800/") no-repeat center center / cover;
    }

    .summary {
        width: 550px;
        top: -8em;
        left: -6em;
        padding: 6em;
        outline-offset: -3.5em;
    }

    h3.summary-title {
        font-size: 1.25em;
        font-weight: 800;
        top: 2em;
        padding: 0 1em;
        background: #135A6B;
    }

    /* PORTFOLIO SECTION */
    .project-item {
        width: 50%;
        float: left;
    }
}

@media (min-width: 960px) {
    /* MD SCREEN */

    /* HEADER */
    header {
        position: fixed;
        width: 100%;
        z-index: 100;
    }

    .nav-toggle {
        display: none;
    }

    nav.menu {
        position: static;
    }

    .menu-list {
        height: auto;
        float: right;
        padding-right: 50px;
    }

    .menu-list-item {
        display: inline-block;
        opacity: 1;
        transform: translateX(0);
    }

    .nav-link {
        color: #F5F5F5;
    } 

    /* TITLE */
    .title-container {
        max-width: 510px;
        text-align: left;
    }

    h1.main-title {
        font-size: 3.5em;
    }

    h2.sub-title {
        font-size: 2em;
    }

}

@media (min-width: 1920px) {
    /* LG SCREEN */

    .project-item {
        width: 25%;
    }
}

